---
title:
---

{% assign latestcomic = site.posts | first | relative_url | where:"categories", "comic therapy" %}

{% for post in site.posts reversed %}
  {% if post.first %}
    {% assign post_img = post.img %}
    {% assign post_date = post.date | date:"%d %b '%y" %}
    {% assign post_title = post.title %}
  {% endif %}
{%endfor%}


{% include gallery1.html %}
  {% for item in site.data.nav-proj %}
    <div class="item col-6 col-sm-4 col-md-3 mb-4 gallery {% if item.link == empty %}featured{%endif%}">
    {% include gallery2a.html %}
    </div>
  {% endfor %}
{% include gallery3.html %}


<section class="section bgColoDark mt-auto py-sm-3" id="gallery">
  <div class="container p-0">
    <div id="portfolio-grid" class="row no-gutter justify-content-center">
      {% for item in site.data.nav-artStyles %}
        <div class="item col-sm-6 col-lg-4 m-0 styleGallery gallery2">
        {% include gallery2c.html %}
        </div>
      {% endfor %}
{% include gallery3.html %}
