<!-- ======= Footer ======= -->
<!-- <footer class="footer {% if page.keywords == "project" or page.url == "/blog" %} mt-auto{%endif%} pt-3{% if page.layout == "read-vert" or page.layout == "post" %} text-center{% endif %}" role="contentinfo" id="footer"> -->
  <footer class="footer {% if page.url != "/" %} mt-auto{%endif%} pt-3{% if page.layout == "read-vert" or page.layout == "post" %} text-center{% endif %}" role="contentinfo" id="footer">
	<div class="container">
    
    <div class="row text-center text-sm-start">

      <div class="
      	{% if page.layout <> "read-vert"%}
      		{% if page.layout <> "post"%}
      			col-sm-6
      			{%endif%}
      	  {% else %}col{% endif %}">
	        
          {% if page.layout == "post" or page.layout == "read-vert" %}
          <div class="blogtipjar text-center mb-1">
            Feeling generous? I accept tips at my <a href="https://ko-fi.com/anonabelle">Ko-Fi page</a>.
          </div>
          {% endif %}

          <p class="mb-1 footertxt"> 2022-2023 &copy; Anabelle Laureola / anonabelle.
          All Rights Reserved. [<a href="/tou">Terms of Use</a>]</p>

	        {% if page.layout != "read-vert" %}
	        	{% if page.layout != 'post' %}
        	<div class="credits footertxt">
        		Original design by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        	</div>
	        {% endif %}{% endif %}
      </div>

      {% if page.layout != "read-vert" %}{% if page.layout != 'post' %}
      <div class="col-sm-6 social text-md-end pt-2 pt-sm-0 align-self-center">
        <a href="https://ko-fi.com/anonabelle"  data-bs-toggle="tooltip" data-bs-placement="top" title="Ko-fi"><span class="bi bi-cup-fill"></span></a>
        <a href="https://twitter.com/anonabelle"  data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><span class="bi bi-twitter"></span></a>
        <a href="https://instagram.com/anonabelle" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><span class="bi bi-instagram"></span></a>
        <a href="/links" data-bs-toggle="tooltip" data-bs-placement="top" title="Other Links"><span class="bi bi-link-45deg"></span></a>
      </div>
      {% endif %}{% endif %}
    </div>

	</div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>