 <!-- ======= Gallery container =======  -->
<section class="section site-portfolio">
  <div class="container">
    
    <div id="portfolio-grid" class="row no-gutter justify-content-center">
      {% for data in include.siteData %}
      {% if data.category == include.data_filter_name %}
        <div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 {{ include.gallery_tag }}">
          <a href="{{ data.link }}" class="item-wrap fancybox">
            <div class="work-info">
              <h3>{{ data.name }}</h3>
              <span>{{ data.category }}</span>
            </div>
            <img class="img-fluid" src="{{ data.img }}" title="{{ data.name }}">
          </a>
        </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>
</section>

