<!-- ======= Navbar =======  -->

<nav class="navbar navbar-expand-sm py-3">
  <div class="container align-items-end">
    <div class="navbar-brand p-0">
        <h1 class="m-0 p-0"><a href="/">Anabelle Laureola</a></h1>
        <p class="m-0 p-0">Cartoonist + Illustrator</p>
    </div>

    <button class="navbar-toggler fixed-top p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon bi bi-list p-0"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header pb-0">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body align-content-end">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          {% for item in site.data.navigation %}
          
            <li class="nav-item">
              <a href="{{ item.permalink }}" class="{% if page.url == item.permalink %}current {% endif %} nav-link" aria-current="page">{{ item.name }}</a></li>
          
          {% endfor %}

          <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link dropdown-item" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Comics
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-end" aria-labelledby="navbarScrollingDropdown">
                {% for item in site.data.nav-proj %}
                {% if item.link != `` %}
                {% if item.category == "comics" %}
                <li><a href="{{ item.link }}" class="{% if page.url == item.link %}current {% endif %}dropdown-item">{{ item.name }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
          </li>

        <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link dropdown-item" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Other Sequential Art
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-end" aria-labelledby="navbarScrollingDropdown">
                {% for item in site.data.nav-proj %}
                {% if item.link != `` %}
                {% if item.category != "comics" %}
                {% unless item.category contains "illustration" %}
                <li><a href="{{ item.link }}" class="{% if page.url == item.link %}current {% endif %}dropdown-item">{{ item.name }}</a></li>
                {% endunless %}
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
          </li>

          <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link dropdown-item" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Illustrations & Paintings
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-end" aria-labelledby="navbarScrollingDropdown">
                {% for item in site.data.nav-proj %}
                {% if item.link != `` %}
                {% if item.category contains "illustration" %}
                <li><a href="{{ item.link }}" class="{% if page.url == item.link %}current {% endif %}dropdown-item">{{ item.name }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}

                {% for item in site.data.nav-artStyles %}
                <li><a href="{{ item.link }}" class="{% if page.url == item.link %}current {% endif %}dropdown-item">{{ item.name }}</a></li>
                {% endfor %}
              </ul>
          </li>

        <!-- mobile navigation -->
        <div class="navbar-mobile">
          <h5 class="offcanvas-title py-3" id="">Comics</h5>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 navbar-proj">
              {% for item in site.data.nav-proj %}
              {% if item.link != `` %}
              {% if item.category == "comics" %}
              <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
              {% endif %}
              {% endif %}
              {% endfor %}
          </ul>
          <h5 class="offcanvas-title py-3" id="">Other Sequential Art</h5>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 navbar-proj">
              {% for item in site.data.nav-proj %}
              {% if item.link != `` %}
              {% if item.category != "comics" %}
              {% unless item.category contains "illustration" %}
              <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
              {% endunless %}
              {% endif %}
              {% endif %}
              {% endfor %}
          </ul>

          <h5 class="offcanvas-title py-3" id="">Illustrations & Paintings</h5>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 navbar-proj">
              {% for item in site.data.nav-proj %}
              {% if item.link != `` %}
              {% if item.category contains "illustration" %}
              <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
              {% endif %}
              {% endif %}
              {% endfor %}

              {% for item in site.data.nav-artStyles %}
              <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
              {% endfor %}
          </ul>
          
        </div>

      </div>
    </div>
  </div>
</nav>