<!--====== PROJECT: ABOUT =====-->
<section class="section py-5" id="aboutProj">

  <div class="site-section pb-0">
    <div class="container">
      <div class="row {% if img01 %} align-items-stretch{% else %} justify-content-center{% endif %}">

        {% if img01 %}<div class="col-md-7 {% if img01_link %} galleryProj{% endif %}">
          
          {% if img01_link %}<a href="{{ img01_link | relative_url }}">{% endif %}
          {% if img01 %}<img src="{{ img01 | relative_url }}" alt="Image" class="img-fluid mb-2">{% endif %}
          {% if img01_link %}</a>{% endif %}

          {% if img02_link %}<a href="{{ img02_link | relative_url }}">{% endif %}
          {% if img02 %}<img src="{{ img02 | relative_url }}" alt="Image" class="img-fluid mb-2">{% endif %}
          {% if img01_link %}</a>{% endif %}

          {% if img03_link %}<a href="{{ img03_link | relative_url }}">{% endif %}
          {% if img03 %}<img src="{{ img03 | relative_url }}" alt="Image" class="img-fluid mb-2">{% endif %}
          {% if img03_link %}</a>{% endif %}

          {% if img04_link %}<a href="{{ img04_link | relative_url }}">{% endif %}
          {% if img04 %}<img src="{{ img04 | relative_url }}" alt="Image" class="img-fluid mb-2">{% endif %}
          {% if img04_link %}</a>{% endif %}
        </div>{% endif %}

        <div class="{% if img01 %}col ml-auto py-md-0 py-3{% else %} col-md-6{% endif %}">
          <div class="sticky-content">
            <h2>about <b>{{ item.name }}</b></h2>
            <p class="mb-4"><span class="text-muted">{%for v in item.category %} {{v}}{% if forloop.last != true %},{% endif %}{% endfor %} | {{ item.status }}</span></p>

            <div class="">
              <p>{{ item.desc }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>


 