@import 'simple-lightbox.min.css';


// colors

$font-1: Fredoka, sans-serif;
$font-2: 'Philosopher', sans-serif;

$colo-dark: #0A0908; // rich black FOGRA 39
$colo-dark2: #22333B; // gunmetal
$colo-mid: #5E503F; // umber
$colo-accent: #A9927D; // grullo
$colo-accent2: #8A9497; // spanish gray
$colo-light: #eef0f2; // cultured
$colo-hl: #3F738C; // cerulean (saturated gunmetal)

$bg-colo-dark2: rgba(34, 51, 59, 0.8); // gunmetal
$bg-colo-mid: rgba(94, 80, 63, 0.85); //umber
$bg-colo-hl: rgba(63, 115, 140, 0.85); //cerulean (saturated gunmetal)

$postimg-colo-accent2: rgba(138, 148, 151, .25); //spanish grey

$linkFeatured-colo-accent2: rgba(138, 148, 151, 0.85); //spanish grey

$item-wrap-colo-transparent: rgba(0, 0, 0, 0.2);


// elements
$sl-overlay-background: $colo-dark2;
$btn-focus-width: 1px;
$btn-border-radius:1px;
$tooltip-bg: $colo-accent2;


tooltip { background-color: $colo-accent2; }

// container classes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 720px,
  xl: 720px,
  xxl: 720px
);

// additional divs

	a.h1, a.h2, a.h3, a.h4{ color: $colo-mid; }
	.textaccent{ color:$colo-accent; }
	.textaccent2{ color:$colo-accent2; }
	
	blockquote { 
		padding-left: .5rem;
		font-style: italic;
		border-left: 2px dotted $colo-accent2;
		color: $colo-accent2;
		font-family: $font-1;
	}
	.active, .current,
	.current.dropdown-item,
	.offcanvas-end .current { color: $colo-accent; }

	.footertxt {
		font-size: .75rem;
		color: $colo-accent2;
	}

	.read-img-vert{ width:100% }

	.filters .btn, .btn, .btn1, .btn2{
		color: $colo-light;
		font-size: .8rem;
	}

	.projectaboutitalics{
		font-style: italic;
		color: $colo-dark
	}

	.btn > i, .back-to-top > i, .go-to-bottom > i {color:inherit;}

	.btn2,
	.btn-check{
		background-color: $colo-accent;
		border-color: $colo-accent;
	}

	.btn1{
		background-color: $colo-dark2;
		border-color: $colo-dark2;
	}
	
	.btn3{
		background-color: $colo-accent2;
		border-color: $colo-light;
	}

	.btnabout{
		background-color: $colo-accent2;
		border-color: $colo-accent2;
	}

	.btn-check:focus + .btn, .btn:focus, .btn:hover{	
		color: $colo-light;
		box-shadow: 0 0 0 .2rem $colo-light;
		opacity:.7;
	}

	.btnUp, .btnDown { 
		background-color: transparent;
		color: $colo-accent2;
		font-size: 2rem;
	}

	.breadcrumb-item.active { color: $colo-light; }
	.section.breadcrumb a { color:$colo-accent;}
	.section.breadcrumb a:hover {color:$colo-accent2; font-weight:300;}

	.readmore{ font-weight: 400 } //contact, submit button

	.blogtext { 
		color: $colo-dark2;
		font-weight: 400;
		padding: 3rem; //same as p-5
	}
	.blogtext li:last-child, .blogtext p:last-child { margin-bottom:0; }
	
	.blogtext li { margin-bottom: 0.75rem;}
	.blogtext li:first-child{ margin-top: 1rem;} 
	// .blogtext i, .blogtext b, .blogtext u, .blogtext strike { color: $colo-accent2; }
	.blogimgcaption{
		text-align: center;
		font-style: italic;
		font-size: 12px;
	}

	.bgColoAccent2  { 
		background-color: $colo-accent2;
		color: $colo-dark;
	}
	.bgColoAccent2 > .textaccent {
		color: $colo-dark2;
	}
	.bgColoAccent2 > .textaccent2,
	.bgColoAccent2 > i,
	.bgColoAccent2 p > i {
		color: $colo-mid;
	}

	.bgColoDark { 
		background-color: $colo-dark;
		color: $colo-light;
	}
	
	.bgColoDark2 { 
		background-color: $colo-dark2;
		color: $colo-light;
	}

	.bgColoLight { 
		background-color: $colo-light;
		color: $colo-dark2;
	}
	
	.bgColoMid { 
		background-color: $colo-mid;
		color: $colo-light;
	}

	.linkUnderline a {text-decoration-line: underline; }
	.linkUnderline a:hover { text-decoration-line: none; }
	
	.bgColoDark2 > a,
	.bgColoLight > a { 
		color: $colo-accent;
	}

	.bgColoDark > a,
	.bgColoMid > a { 
		color: $colo-accent2; 
	}

	.bgColoAccent2 > a {
		color: $colo-dark2;
	}

	.bgColoDark2 a:hover,
	.bgColoMid a:hover { color: $colo-light;}

	.txtColoAccent{ color: $colo-accent; }
	.txtColoAccent2{ color: $colo-accent2; }
	.txtColoLight{ color: $colo-light; }
	.txtColoDark{ color: $colo-dark; }
	.txtColoDark2{ color: $colo-dark2; }
	.txtColoHL{ color: $colo-hl; }
	.txtColoMid{ color: $colo-mid; }

	.blogtipjar { 
		background-color: none;
		color: $colo-accent2;
		font-size: .75rem;
		margin-bottom:0
	}

	.textNav{
		color: $colo-light;
		text-transform: uppercase;
		margin: auto;
		padding: 1rem;
		width: 75%;
	}

	div.blogtipjar a{
		font-style:bold;
		font-weight:500;
		color: $colo-accent;
	}
	div.blogtipjar a:hover{ color: $colo-accent2;}

	.opacity80:hover, .opacity80 > *:hover {
		opacity:.8; 
		color: $colo-accent2; 
		cursor: pointer;
	}
	.opacity80 { 
		color: $colo-light; 
		background-color: $colo-dark;
		transition: 0.2s ease-in-out;
	}

	.linksH3{
		color: $colo-accent2;
		text-align: center;
	}

	ul.linksPage{
		list-style-type: none;
		color: $colo-dark2;
		text-align:center;
		padding-left:0;
	}
	
a.button li > b,
a.button.primary li > b,
a.button li > i,
a.button.primary li > i{
		color: $colo-light;
	}


	ul.linksPage > a.button.primary li:hover,
	ul.linksPage a > li{
		padding: .5rem;
		margin-bottom:.5rem;
		background-color: $colo-accent2;
		color: $colo-dark2;
	}

	ul.linksPage > a.button.primary li, 
	ul.linksPage a > li:hover {
		background-color: $colo-dark2;
		color:$colo-light;
		transition: 0.2s ease-in-out;
	}


.postimg{
	box-shadow: 0px 0px 5px 1px $postimg-colo-accent2;
}

#blog-posts a, #blog-posts a i{
	color: $colo-accent2;
}

#blog-posts a div.row:hover i{ color: $colo-accent; }

#blog-posts a div.row:hover{
	background-color: $colo-mid;
	color: $colo-accent;
	transition: 0.2s ease-in-out;
}

#blog-posts a div.row:hover h3{ 
	color: $colo-light;
	transition: 0.2s ease-in-out;
}

.projectBit{
	background-color: $colo-light;
}

.projectBit h3{ font-size: 1.3rem; }
.projectBit blockquote{ font-size: .8rem;}

.imgFeatured {
	height: 200px; /* hide if only 1 featured post */
	width:100%;
	object-fit: cover;
}

.featured .linkFeatured{
	display: block;
  position: relative;
}

.featured .linkFeatured > .txtFeatured{
	z-index: 3;
	position: absolute;
	width: 100%;
	text-align: center;
  color: #ffffff;
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease;
  transform: translateY(-50%);
  top: 50%; /*8.25rem;*/
  /*margin-top:0;*/
}

.featured .linkFeatured1:after {
	  background: $bg-colo-dark2;
}
.featured .linkFeatured2:after {
	  background: $bg-colo-hl;
}

.featured .linkFeatured:after {
	  z-index: 2;
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  visibility: visible;
	  opacity: 1;
	  transition: 0.3s all ease-in-out;
	}

.featured .linkFeatured:hover .txtFeatured {
	  margin-top: 30px;
	}

.featured .linkFeatured:hover:after {
	  background: $linkFeatured-colo-accent2;
	}
.featured .linkFeatured:hover .txtFeatured .textaccent{ color:$colo-dark2; }

// hide navbar on mobile
@media screen and (max-width: 768px){
  ::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  main {
  overflow: hidden;
	}

}

/////////////// modifications to style.css
	
	b, strong, i, strike { color: $colo-hl; }
	b, strong { font-weight: 500; }

	.bodytext b, .bodytext strong, 
	.blogtext b, .blogtext strong{ 
		font-weight: 500;
	}

	.bodytext a:hover, .blogtext a:hover{	font-style: normal; }
	.bodytext a, .blogtext a{	font-style: italic; }

	body { 
		color: $colo-dark; 
		font-family: $font-1; 
		background-color: $colo-light;
	}

	h1, h2, h3, h4, h5, h6, .font-heading { font-family: $font-2; }
	h1, h2, h3, h4, h5, h6 {margin-bottom: 1rem;}

	a, .footer a{ 
		color: $colo-accent;
		transition: 0.2s ease-in-out;
		text-decoration-line: none;
	}
	a:hover { color: $colo-mid;	text-decoration-line: underline; }
	

	nav a, .nav-link a { color: $colo-accent; }
	a.current.nav-link { color: $colo-accent2; text-decoration-line: none; }
	.nav-link, .nav-link:focus,	.nav-link:hover, 
	a.nav-link, a.nav-link:focus,	a.nav-link:hover, 
	nav a:hover, .social a:hover, .navbar-brand h1 a:hover { color: $colo-accent2; }
	.social a { 
		background-color: $colo-accent;
		color: $colo-dark2; }
	.social a:hover { background-color: $colo-accent2; color: $colo-light; }
	
	.footer, .back-to-top, .go-to-bottom, .navbar{ 
		background-color: $colo-dark2; 
		color: $colo-light;
	}
	.back-to-top:hover,
	.go-to-bottom:hover{ background-color: $colo-accent; }

	.navbar-brand h1 a { color: $colo-light; }
	nav p{ color: $colo-accent2; }

	.card{ background-color: $colo-light; color: $colo-dark; }

	#main{
		display: flex;
	    flex-direction: column;
	    min-height: 100vh;
	}

	@media (min-width: 576px) {
	// @media (min-width: 744px) {
		.social a {
			width: 50px;
	 		height: 50px;
	 	}
		nav a h1{ color: $colo-mid; }
	}

	.card {
		border: 0;
		text-align: left;
	}
	
	.card p:last-child { margin-bottom:0; }


//////////////////// tooltip divs
	.tooltip-inner{
		background-color: $colo-accent2;
		color: $colo-light;
	}
	.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
	  border-top-color: $colo-accent2;
	}
	.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before{
	  border-left-color: $colo-accent2;
	}
	.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before{
	  border-right-color: $colo-accent2;
	}
	.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before{
	  border-bottom-color: $colo-accent2;
	}

/////////// gallery
.item .item-wrap > .work-info h3{ font-size: 1.2rem; }

@media only screen and (min-width: 576px){
// @media only screen and (min-width: 744px){
	.item .item-wrap > .work-info h3{ font-size: 1.5rem; }
	.item .item-wrap > .work-info span { font-size: .85rem; }
}

/////////////// gallery 2b effects
	.item .work-info-2 {	
	  color: $colo-dark2;
		background-color: $colo-light;
	}
	.item .work-info-2 span { color: $colo-accent2; }

	.item .item-wrap-2 {
	  display: block;
	  position: relative;
	  overflow: hidden;
	}
	.item .item-wrap-2:after {
	  background: $item-wrap-colo-transparent;
	  transition: 0.3s all ease-in-out;
	}
	.item .item-wrap-2 img {
	  transition: 0.3s transform ease;
	  transform: scale(1);
	}
	.item .work-info-2 {
	  width: 100%;
	  text-align: center;
	  transition: 0.3s all ease;
	}

	.item .work-info-2 h3 {
	  font-size: calc(1rem + .4vw);
	  // margin-bottom: 0;
	}

	.item .work-info-2 span {
	  font-size: .75rem;
	  text-transform: uppercase;
	  letter-spacing: 0.2rem;
	}

	.item .item-wrap-2:hover img {
	  transform: scale(1.05);
	}
	.item .item-wrap-2:hover:after {
	  opacity: 1;
	  visibility: visible;
	}
	.item .item-wrap-2:hover .work-info-2 {
	  margin-top: 0px;
	  opacity: 1;
	  visibility: visible;
	}


/////////////// gallery 2c effects - work info overlay, clear on hover
	.item .item-wrap3:after {
	  z-index: 2;
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: $bg-colo-mid;
	  visibility: visible;
	  opacity: 1;
	  transition: 0.3s all ease-in-out;
	}
	.item .item-wrap3 > .work-info3 {
	  z-index: 3;
	  color: #ffffff;
	  opacity: 1;
	  visibility: visible;
	  transition: 0.3s all ease;
	  transform: translateY(-50%);
	  top: 50%;
	  margin-top:0;
	}
	.item .item-wrap3:hover .work-info3 {
	  margin-top: 20px;
	  opacity: 0;
	  visibility: hidden;
	}

	.item .item-wrap3:hover:after {
	  opacity: 0;
	  visibility: hidden;
	}
	.item .item-wrap3:hover .work-info3 {
	  opacity: 0;
	  visibility: hidden;
	}

	.item .item-wrap3 img {
	  transform: scale(1.05);
	}
	.item .item-wrap3:hover img {
	  transform: scale(1.07);
	}


/////////////// simple lightbox customize

	.sl-overlay{
		background-color: $sl-overlay-background;
	}
	.sl-wrapper .sl-image .sl-caption{
		color: $colo-light;
		background-color: $colo-dark;
	}

	.sl-wrapper .sl-close{
		color: $colo-dark;
		background-color: $colo-light;
		border-radius: .25rem;
	}

	.sl-wrapper button.sl-next, 
	.sl-wrapper button.sl-prev, 
	.sl-wrapper .sl-counter { color: $colo-light; }

////////////////////simple lightbox css

.gallery{	max-width:100% }

.gallery img{ 	max-width:100% }

/////////////////////////// navbar / navigation

.dropdown-menu a { color: $colo-light; }
.offcanvas-end a { color: $colo-accent; }
.offcanvas-end{ 
	background-color: $colo-dark;
	color: $colo-light;
}
.dropdown-item.active, .dropdown-item:active, .offcanvas-header .btn-close { background-color: $colo-light; }
.navbar-toggler{
	background-color: $colo-accent;
	color: $colo-light;
}
.dropdown-menu{ background-color: $colo-accent2; }
a.dropdown-item { color: $colo-light; }
a.current.dropdown-item { color: $colo-dark2; }

.navbar-brand h1{ font-size: 1.5rem;}
.navbar-brand p{ font-size: .9rem; }

.offcanvas-end{ width: 50%; }

.dropdown-menu, .dropdown { visibility: collapse; }
.navbar-proj { visibility: visible; }
.navbar-toggler{
	border: none;
	font-size:2rem;
	top:1rem;
	right:1rem;
	left: unset;
	line-height: .5;
}

.navbar-toggler-icon,
span.navbar-toggler-icon.bi.bi-list {
	width: unset;
	height: unset;
}


// @media (min-width: 576px){ 
@media (min-width: 768px){ 

	.navbar-mobile{
		visibility: collapse; 	
		z-index:0;
		display: none;
	}

	.navbar-expand-sm .navbar-nav {
  		gap: 0 1rem;
  		font-size: 1rem;
  		align-items: flex-end;
  		flex-wrap: wrap;
  	}

  .dropdown-menu, .dropdown { visibility: visible; }
  .navbar-proj { visibility: collapse;  }

  .navbar-brand h1{font-size: 2.5rem; }
  .navbar-brand p{ font-size: 1rem; }

}

.offcanvas-header .btn-close {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  right: 1rem;

}

///////// art style gallery

.styleGallery{
 	white-space: nowrap;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// index - updates section
.indexUpdates{
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: column wrap;
}

.indexUpdates > div {
	width: 100%;
	margin: 5px 0;
}
.indexUpdates .titletext{
	font-family: $font-2;

}
.indexUpdates .bodytext{
	font-family: $font-1;	
}

.indexUpdates hr{
	width:100%;
	color: $colo-accent;
}

.featured {

  height: 100%;
}
.featured div { 
	height: 50%; /* 50% if 2 featured, 100% if one */
  align-content: center;
  overflow: hidden;
}
.featuredcontainer{
	display: flex;
	align-items: end;
}

.blogEntryContainer{
	overflow: hidden;
	width:100%;
}


/* Bootstrap 5 timeline */
.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.section-title p {
  color: #777;
  font-size: 16px; }

.section-title h2 {
  text-transform: capitalize;
  position: relative;
  font-weight: 600; }

ul.timeline-list {
  position: relative;
  margin: 0;
  padding: 0; }

ul.timeline-list:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: $colo-accent2;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

ul.timeline-list li {
  position: relative;
  clear: both;
  display: table; }

.timeline_content {
  border: 2px solid $colo-accent2;
  background-color: #fff; }

ul.timeline-list li .timeline_content {
  width: 45%;
  color: #333;
  padding: 30px;
  float: left;
  text-align: right; }

ul.timeline-list li:nth-child(2n) .timeline_content {
  float: right;
  text-align: left; }

.timeline_content h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0; }

ul.timeline-list li:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: $colo-accent2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.timeline_content span {
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
  color: $colo-accent2; }

.accordion-item,
.accordion-button {
  background-color: transparent; }

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
  box-shadow: none; }


//////// tumblr widget
div.WidgetTitle__Header-sc-ruy1gu-2.dudTgA{ font-weight: 500; }