---
title: About
permalink: /about
redirect_from:
- /assets/html/about
- /assets/html/about.html
description:
keywords:
---

{% for item in site.data.navigation %}
{% if item.name == "About" %}
  {% include sectiontitle.html %}
{% endif %}
{% endfor %}

<section class="section pb-5">
  <div class="container">

    <div class="row justify-content-center">

      <div class="order-2 col-lg-4 col-md-7 col-10">
        <h3 class="h2 mb-4">Hi, I'm Anabelle. <br> I draw stories.</h2>
    
        <p>I graduated with a degree in Multimedia Arts from De La Salle College of Saint Benilde, and have done work for games, animation, comics and book illustration.</p>
        <p>You can find most of my work on the internet posted under the moniker "anonabelle".</p>

        <p>If you would like to work together, feel free to email at <b>anonabelle (dot) art (at) gmail (dot) com</b>.</p>
        
      </div>
      <div class="col-md-auto mb-5">
        <img src="assets/img/about.jpg" alt="Image" class="img-fluid">
      </div>

    </div> <!-- end row2 -->

  </div> <!-- end container -->
</section>
