---
title: About
permalink: /about
redirect_from:
- /assets/html/about
- /assets/html/about.html
description:
keywords:
---

{% assign bgColo = " " %} 

{% for item in site.data.navigation %}
{% if item.name == "About" %}
  {% include sectiontitle.html %}
{% endif %}
{% endfor %}

<section class="section {{bgColo}} pb-5">
  <div class="container">

    <div class="row justify-content-center align-items-center">

      <div class="order-2 col-lg-4 col-md-7 col-10">
        <h3 class="h2 mb-4">Hi, I'm <span class="textaccent2">Anabelle</span>. <br> I'm an <span class="textaccent2">artist</span>.</h3>
        
        <p>This website collects my adventures in:
          <ul>
            <li>drawing <span class="textaccent2">stories</span></li>
            <li>painting <span class="textaccent2">light</span></li>
            <li>sketching <span class="textaccent2">texture</span></li>
            <li>...and capturing my creative experiences with <a href="/blog">words</a></li>            
          </ul>
        </p>

        <p>After graduating in 2012 with a degree in Multimedia Arts, I started taking on creative projects for  different industries before focusing on comics and book illustration. I recently self-published a <a href="/comictherapy">collection of journal comics</a> from 2021, and am in the midst of working on <a href="/sunmoon">Sun says Moon says</a>, an <span class="textaccent2">original comic based on a Philippine folktale</span>.</p>

        <p>You can find most of my work on the internet posted under the moniker "anonabelle".</p>
      </div>

      <div class="col-md-auto mb-5">
        <img src="assets/img/about.jpg" alt="Image" class="img-fluid">
      </div>

    </div> <!-- end row -->
    <hr>
    <p class="text-center">If you would like to work together, feel free to email at <b>anonabelle (dot) art (at) gmail (dot) com</b>.</p>
    <hr>

  </div> <!-- end container -->
</section>
