---
title: read Camera Shy
permalink: /camshy-read
redirect_from:
- /assets/html/camshy-read
- /assets/html/camshy-read.html
layout: read-vert
description:
keywords:
---
{% for item in site.data.nav-proj %}
  {% if item.name == "Camera Shy" %}
  {% include sectiontitle.html %}
  {% endif %}
{% endfor %}

<section class="section pt-1 pb-5 my-0">
  <div class="container text-center">
    <p>
      <a href="/camshy" class="btn btn1" role="button">go back</a>
    </p>
</section>

<section class="section" id="oonah">
  <div class="container-sm">
    
    <div class="row justify-content-center">
      <div class="item web col-sm-10 col-lg-6">
        {% for item in site.data.gallery-camshy %}
        {% if item.category == "pages" and item.category != "process" %}
          <img class="read-img-vert img-fluid rounded mx-auto d-block mb-4" src="{{ item.img }}">
        {% endif %}
        {% endfor %}  
      </div>
    </div>

  </div>
</section>

<section class="section py-5">
  <div class="container text-center">
    <p>
      <a href="/camshy" class="btn btn1" role="button">go back</a>
    </p>
  </div>
</section>