---
title: read Camera Shy
permalink: /camshy-read
redirect_from:
- /assets/html/camshy-read
- /assets/html/camshy-read.html
layout: read-vert
description:
keywords:
---

<section class="section mt-5">
  <div class="container text-center">
      <a href="/camshy" class="btn btn1" role="button">go back</a>
    </div>
</section>

<section class="section" id="">
  <div class="container-sm">

    <div class="row justify-content-center">
      <div class="col item web text-center py-5 mb-0">
        <h2>Camera Shy</h2>
        <span>A Mob Psycho 100 fancomic</span>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="item web col-sm-10 col-lg-6">
        {% for item in site.data.gallery-camshy %}
        {% if item.category == "pages" and item.category != "process" %}
          <img class="read-img-vert img-fluid rounded mx-auto d-block mb-4" src="{{ item.img }}">
        {% endif %}
        {% endfor %}  
      </div>
    </div>

  </div>
</section>

<section class="section mb-5">
  <div class="container text-center">
      <a href="/camshy" class="btn btn1" role="button">go back</a>
  </div>
</section>