---
title: Comic Therapy (mobile gallery)
permalink: /comictherapy-read
redirect_from:
- /assets/html/comictherapy-read
- /assets/html/comictherapy-read.html
layout: read-vert
description:
keywords:
---

<section class="section my-5">
  <div class="container text-center">
    <p class="">
      <a href="/comictherapy" class="btn btn1" role="button">go back</a>
    </p>
  </div>
</section>

<section class="section" id="ct2020">
  <div class="container-sm">

    <div class="row justify-content-center">
      <div class="col item web text-center py-5 mb-0">
        <h2>Comic Therapy (2020)</h2>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="item web col-sm-10 col-xlg-4">
        {% for item in site.data.gallery-ct %}
        {% if item.category == 2020 %}
          <img class="read-img-vert img-fluid rounded mx-auto d-block mb-4" src="{{ item.img }}">
        {% endif %}
        {% endfor %}  
      </div>
    </div>

  </div>
</section>

<section class="section py-5">
  <div class="container text-center">
    <p>
      <a href="/comictherapy" class="btn btn1" role="button">go back</a>
    </p>
  </div>
</section>