---
title: Comic Therapy
permalink: /comictherapy
redirect_from:
- /assets/html/comictherapy
- /assets/html/comictherapy.html
---
{% for item in site.data.nav-proj %}
{% if item.name == "Comic Therapy" %}
  {% include sectiontitle.html %}
{% endif %}
{% endfor %}

<div class="text-center py-5 mb-0"><h2>2021</h2></div>
{% include gallery1.html %}
  {% for item in site.data.gallery-ct %}
  {% if item.category == 2021 %}
    <div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery">  
    {% include gallery2a.html %}
    </div>
  {% endif %}
  {% endfor %}
{% include gallery3.html %}

<div class="text-center py-5 mb-0"><h2>2020</h2></div>
{% include gallery1.html %}
  {% for item in site.data.gallery-ct %}
  {% if item.category == 2020 %}
    <div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery2">  
    {% include gallery2a.html %}
    </div>
  {% endif %}
  {% endfor %}
{% include gallery3.html %}