---
title: Comic Therapy
permalink: /comictherapy
redirect_from:
- /assets/html/comictherapy
- /assets/html/comictherapy.html
---

{% assign img01 = "/assets/proj/comictherapy/CT2021_cover-book.jpg" %}

{% assign read_link = "/comictherapy#2021" %}
{% assign read_txt = "2021 comics - prologue" %}

{% assign readvert_link = "/comictherapy-read" %}
{% assign readvert_txt = "2020 comics" %}

{% assign get_link = "https://ko-fi.com/s/1bbf1f96ce" %}
{% assign get_txt = "get the e-book (2021 comics)" %}

<!-- {% assign latestcomic = site.posts | first | relative_url | where:"category", "comic therapy"%} -->

{% for post in site.categories['comic therapy'] limit:1 %}
      {% assign latestcomic = post.url | prepend: site.baseurl %}   
{% endfor %}

{% assign action_link = latestcomic %}
{% assign action_txt = "Read the latest comic" %}

{% for item in site.data.nav-proj %}
{% if item.name == "Comic Therapy" %}
  {% include project.html %}
{% endif %}
{% endfor %}

<!-- ======= Gallery current =======  -->
<div class="text-center py-5 mb-0"><h2>Selected Comics</h2></div>
{% include gallery1.html %}
{% assign data = site.data.gallery-ct | sample:9 %}
  {% for item in data  %}
  {% if item.collection != "prologue" %}
    <div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery">  
    {% include gallery2a.html %}
    </div>
  {% endif %}
  {% endfor %}
{% include gallery3.html %}

<!-- ======= Gallery - CT2021 prologue =======  -->
<div class="text-center py-5 mb-0" id="2021"><h2>2021 Comics - prologue</h2>
<a href="/comictherapy2021prologue-read">read (vertical scrolling)</a> or view below</div>
{% include gallery1.html %}
{% assign data = site.data.gallery-ct %}
  {% for item in data  %}
  {% if item.collection == "prologue" %}
    <div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery2">  
    {% include gallery2a.html %}
    </div>
  {% endif %}
  {% endfor %}
{% include gallery3.html %}