---
title: Contact
permalink: /contact
redirect_from:
- /assets/html/contact
- /assets/html/contact.html
---

{% for item in site.data.navigation %}
{% if item.name == "Contact" %}
  {% include sectiontitle.html %}
{% endif %}
{% endfor %}

<section class="section pb-5">
  <div class="container">

    <div class="row mb-5 align-items-end justify-content-center">
      <div class="col-auto">
        <p class="mb-0">Email me at <b>anonabelle (dot) art (at) gmail (dot) com</b></p>
        <p class="">or use the form below to reach out regarding:
        </p>
        <ul>
          <li>work opportunities</li>
          <li>issues with this website</li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-md-6 mb-5 mb-md-0">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row gy-3">
            <div class="col-md-6 form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="col-md-6 form-group">
              <label for="name">Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="col-md-12 form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="col-md-12 form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" cols="30" rows="10" required></textarea>
            </div>

            <div class="col-md-12 my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>

            <div class="col-auto mx-auto mt-0 form-group">
              <input type="submit" class="readmore d-block w-100" value="Send Message">
            </div>
          </div>
        </form>
      </div>

    </div> <!-- end row -->
  
  </div> <!-- end container -->
</section>