---
title: Dita Sows A Good Deed
permalink: /dita
redirect_from:
- /assets/html/dita
- /assets/html/dita.html
description:
keywords: project
---
{% assign img01 = "/assets/proj/dita/11a.jpg" %}
{% assign img02 = "/assets/proj/dita/book-01.jpg" %}
{% assign img03 = "/assets/proj/dita/book-02.jpg" %}

{% assign get_link = "https://inkbooknook.com/product/dita-sows-a-good-deed/" %}
{% assign get_txt = "get a copy of Dita" %}

{% assign get2_link = "https://inkbooknook.com/product/tata-oskies-collection-of-childrens-books-on-philippine-native-trees/" %}
{% assign get2_txt = "get the Tata Oskie collection" %}

{% for item in site.data.nav-proj %}
{% if item.name == "Dita Sows A Good Deed" %}
	{% include project.html %}
{% endif %}
{% endfor %}

<div class="text-center py-3 mb-0"><h3>Pages</h3></div>
{% include gallery1.html %}
	{% for item in site.data.gallery-dita %}
	{% if item.category == "pages" %}
		<div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery">
		{% include gallery2a.html %}
		</div>
	{% endif %}
	{% endfor %}
{% include gallery3.html %}

<div class="text-center py-3 mb-0"><h3>Spreads</h3></div>
{% include gallery1.html %}
	{% for item in site.data.gallery-dita %}
	{% if item.category == "spreads" %}
		<div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery2">
		{% include gallery2a.html %}
		</div>
	{% endif %}
	{% endfor %}
{% include gallery3.html %}

<div class="text-center py-3 mb-0"><h3>Extras</h3></div>
{% include gallery1.html %}
	{% for item in site.data.gallery-dita %}
	{% if item.category == "extras" %}
		<div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery3">
		{% include gallery2a.html %}
		</div>
	{% endif %}
	{% endfor %}
{% include gallery3.html %}