---
title: read Hourly Comic Day 2023
permalink: /hcd2023-read
redirect_from:
- /assets/html/hcd2023-read
- /assets/html/hcd2023-read.html
layout: read-vert
description:
keywords:
---

<section class="section mt-5">
  <div class="container text-center">
    <a href="/hcd" class="btn btn1" role="button">go back</a>
  </div>
</section>

<section class="section" id="hcd2023">
  <div class="container-sm">

    <div class="row justify-content-center">
      <div class="col item web text-center py-5 mb-0">
        <!-- <h2>Hourly Comic Day 2023</h2> -->
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="item web col-12 col-sm-10 col-lg-8 col-xlg-4 px-sm-2 px-0">
        {% for item in site.data.gallery-hcd %}
        {% if item.category == 2023 %}
          <img class="read-img-vert img-fluid rounded mx-auto d-block mb-4" src="{{ item.img }}">
        {% endif %}
        {% endfor %}  
      </div>
    </div>

  </div>
</section>

<section class="section mb-5">
  <div class="container text-center">
      <a href="/hcd" class="btn btn1" role="button">go back</a>
  </div>
</section>