---
title: Hourly Comic Day
permalink: /hourlies
redirect_from:
- /assets/html/hourlies
- /assets/html/hourlies.html
- /hcd
- /assets/html/hcd
- /assets/html/hcd.html
---

{% assign img01 = "/assets/proj/comictherapy/hourlies_cover.jpg" %}


{% for item in site.data.nav-proj %}
{% if item.name == "Hourly Comic Day" %}
  {% include projecttitle.html %}
{% endif %}
{% endfor %}

<!-- ======= Gallery current =======  -->
<div class="text-center py-5 mb-0" id="2023">
  <h3>Hourly Comic Day 2023</h3>
  <a href="/hcd2023-read">read (mobile-friendly)</a> or view below
</div>
{% include gallery1.html %}
{% assign data = site.data.gallery-hcd %}
  {% for item in data %}
    <div class="item web col-6 col-sm-6 col-md-4 col-lg-3 mb-4 gallery">  
    {% include gallery2a.html %}
    </div>
  {% endfor %}
{% include gallery3.html %}

<!-- ======= Project Description current =======  -->
{% for item in site.data.nav-proj %}
{% if item.name == "Hourly Comic Day" %}
  {% include project.html %}
{% endif %}
{% endfor %}