---
title: Magbunyi! comics
permalink: /magbunyi
redirect_from:
- /assets/html/magbunyi
- /assets/html/magbunyi.html
description:
keywords: project
---

{% assign img01 = "/assets/proj/magbunyi/oonah/01.jpg" %}
{% assign img02 = "/assets/proj/magbunyi/anne/01.jpg" %}
{% assign img03 = "/assets/proj/magbunyi/maria/01.jpg" %}

{% assign readvert_link = "/magbunyi-read" %}
{% assign readvert_txt = "Read the comics" %}

{% assign get_link = "https://www.notredamedesion.org/news/get-to-know-the-sion-philippines-community/" %}


{% for item in site.data.nav-proj %}
{% if item.name == "Magbunyi Comics" %}
	{% include project.html %}
{% endif %}
{% endfor %}