---
title: Painted Portraits
permalink: /portraits
redirect_from:
- /assets/html/portraits-trad
- /assets/html/portraits-trad.html
- /portraits-trad
description:
keywords: 
---

{% assign bgColo = " " %}

{% for item in site.data.nav-artStyles %}
{% if item.name == "Painted Portraits" %}
  {% include sectiontitle.html %}
{% endif %}
{% endfor %}

 	<div class="container text-center pb-5">
    <p class="m-0">Portraits painted traditionally with watercolors, colored pencils and/or alcohol markers.</p>
    <p class="m-0">For digitally-rendered portraits, see <a href="/digitalportraits
    	">here</a>.</p>
  </div>


{% include gallery1.html %}
	{% for item in site.data.gallery-paint %}
	{% if item.collection == "portraits" %}
		<div class="item web col-6 col-sm-4 col-md-3 my-1 g-2 gallery">
		{% include gallery2a.html %}
	{% endif %}
	{% endfor %}
{% include gallery3.html %}
