---
title: Digital Portraits
permalink: /digitalportraits
redirect_from:
- /assets/html/portraits-digital
- /assets/html/portraits-digital.html
- /digital-portraits
- /portraits-digital
description:
keywords: artstyle
---
{% assign bgColo = " " %}

{% for item in site.data.nav-artStyles %}
{% if item.name == "Digital Portraits" %}
  {% include sectiontitle.html %}
{% endif %}
{% endfor %}

<div class="container text-center pb-5">
  <p class="m-0">Portraits rendered digitally on Clipstudio Paint.</p>
  <p class="m-0">For traditionally-rendered portraits, see <a href="/portraits
  	">here</a>.</p>
</div>

<!-- ======= Navigation for multiple comics =======  -->
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-6 text-center">
    <a href="/digitalportraits#group" class="mb-1 btn btn2">Group</a>
    <a href="/digitalportraits#solo" class="mb-1 btn btn2">Solo</a>
  </div>
</div>

<div id="group" class="text-center pt-5 pb-3 mb-0"><h3>Group Portraits</h3></div>
{% include gallery1.html %}
	{% for item in site.data.gallery-comms %}
	{% if item.galleryFilter contains "couple" %}
    <div class="item web col-6 col-sm-4 col-md-3 my-1 g-2 gallery">
		{% include gallery2a.html %}
	{% endif %}
	{% endfor %}
{% include gallery3.html %}

<div id="solo" class="text-center pt-5 pb-3 mb-0"><h3>Solo Portraits</h3></div>
{% include gallery1.html %}
	{% for item in site.data.gallery-comms %}
	{% if item.galleryFilter contains "solo" %}
    <div class="item web col-6 col-sm-4 col-md-3 my-1 g-2 gallery2">
		{% include gallery2a.html %}
	{% endif %}
	{% endfor %}
{% include gallery3.html %}
