---
title: Projects
permalink: /projects
redirect_from:
- /assets/html/projects
- /assets/html/projects.html
- /proj
description:
keywords:
---
{% assign latestcomic = site.posts | first | relative_url | where:"categories", "comic therapy" %}

<section class="section text-center py-5">
  <div class="container">
    <h1 class="m-0 p-0">All Projects</h1>
  </div>
</section>

{% for post in site.posts reversed %}
  {% if post.first %}
    {% assign post_img = post.img %}
    {% assign post_date = post.date | date:"%d %b '%y" %}
    {% assign post_title = post.title %}
  {% endif %}
{%endfor%}




{% assign bgColo = "bgColoLight" %}
{% assign imgShadow = "imgShadowMid" %}

{% include gallery1.html %}
  {% for item in site.data.nav-proj %}
    <div class="item col-6 col-sm-4 col-lg-3 mb-4 gallery {% if item.link == empty %}featured{%endif%}">
    {% include gallery2b.html %}
    </div>
  {% endfor %}
{% include gallery3.html %}



