---
title: Sun says Moon says
permalink: /sunmoon
redirect_from:
- /assets/html/sunmoon
- /assets/html/sunmoon.html
- /sunsaysmoonsays
- /sunsaysmoonsayscomic
- /sunsaysmoonsays-comic
- /sun-says-moon-says
- /sun-says-moon-says-comic
description:
keywords:
timeline: 1
---

{% assign img01 = "/assets/proj/sunmoon/SunMoon_cover-square.jpg" %}

{% assign readvert_link = "/sunmoon-preview-read" %}
{% assign readvert_txt = "Read (mobile)" %}

{% assign get_link = "https://docs.google.com/forms/d/e/1FAIpQLSc1hu_VFRPe5vt9dGgXi4PmGIQQ78lgdDr58RxZi_O8OPoZFQ/viewform?usp=preview" %}
{% assign get_txt = "Get a copy" %}

{% for item in site.data.nav-proj %}
{% if item.name == "Sun says Moon says" %}
  {% include projecttitle.html %}
{% endif %}
{% endfor %}

<div class="text-center py-3 mb-0" id="mar2023">
  <h3>Pages</h3>
</div>

{% include gallery1.html %}
  {% for item in site.data.gallery-sunmoon %}
  {% if item.name == "Cover - Front" or item.category == "pages" or item.name == "Cover - Back" %}
    <div class="item col-6 col-sm-4 col-md-3 my-1 g-2 gallery">
    {% include gallery2a.html %}
  {% endif %}
  {% endfor %}
{% include gallery3.html %}

<!-- Featured text -->
<section class="section bgColoDark">
  <div class="container my-5 col-10 justify-content-center align-items-center">

      <div class="">
        <h3><b>Sun</b> and <b>Moon</b> were sent by the Great Gods to bring light to the world of humans. When their child wonders why they are hardly at home at the same time, they decide to share <b>their story</b>.</h3>        
      </div>

  </div> <!-- end container -->
</section>

<!-- Project Press -->
<section class="section bgColoMid linkUnderline">
  <div class="container-fluid my-5">
    <div class="row justify-content-center g-2 m-0">
    
      <!-- ======= header text =======  -->
      <div class="col-10 col-sm-4 mb-4 mb-sm-0 p-0 mt-0 align-self-top">
        <h5 class="m-0 p-0"><span class="textaccent2">This project was created with the aid of the</span> Cultural Center of the Philippines</span>' <i><span class="textaccent2">Animation, Comics and Game Development Grants Program.</span></i></h5>
      </div>
      <div class="col-10 col-sm-6 ms-sm-3 m-0">
        <small>press release | <a href="https://culturalcenter.gov.ph/press-release/ccp-launches-grants-for-filipino-animators-artists-and-game-developers/">CCP LAUNCHES GRANTS FOR FILIPINO ANIMATORS, ARTISTS, AND GAME DEVELOPERS</a> (<a href="https://www.gmanetwork.com/lifestyle/news/90936/ccp-names-winners-of-content-creation-grants/story">GMA Lifestyle</a>)</small>
        <br>
        <small>press release | <a href="https://culturalcenter.gov.ph/press-release/ccp-completes-animation-comics-and-games-development-initiative-with-last-batch-of-grantees/">CCP COMPLETES ANIMATION, COMICS, AND GAMES DEVELOPMENT INITIATIVE WITH LAST BATCH OF GRANTEES</a> (<a href="https://mb.com.ph/2023/12/10/ccp-completes-animation-comics-and-games-development-initiative-with-last-batch-of-grantees">Manila Bulletin</a>)</small>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>

{% for item in site.data.nav-proj %}
{% if item.name == "Sun says Moon says" %}
  {% include project.html %}
{% endif %}
{% endfor %}

